.container {
    width: 400px;
    height: 530px;
    border: 2px solid black;
    border-radius: 5%;
    background-color: rgb(219, 159, 235);
    position: relative;
}

.display {
    width: 300px;
    height: 50px;
    margin: 42px;
    font-size: 34px;
    outline: 1px solid black;
    text-align: right;
}
input[type="button"] {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    background-color: rgb(236, 156, 176);
    margin: 2px;
    font-size: 34px;
    font-weight: bold;
}